<a data-toggle="modal" id="modalhelpa" data-target="#ModalMarkDown">Este campo soporta Markdown</a>
<div class="modal fade" id="ModalMarkDown" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-body">
        <div class="modal-body">
          <h1>¿Que es Markdown?</h1>

            <p>Markdown es una forma ligera  para poder  escribir textos para la web, podemos escribir palabras en negrita o cursiva, añadir imágenes y crear listas. Estos son  solo algunas cosas que podemos hacer, sobre todo  Markdown es texto regular con algunos caracteres no alfabéticos como  <code>#</code> o <code>*</code></p>

            <h1>Sintaxis</h1>

            <p>Sintaxis de Markdown que se puede utilizar para sistema de discusiones</p>

            <h3>Títulos</h3>
            <div class="highlight"><pre><span></span>
            # Esto es un titulo &lt;h1&gt; tag
            ## Esto es un titulo &lt;h2&gt; tag
            ###### Esto es un titulo &lt;h6&gt; tag
            </pre></div>
            <h3>Párrafos</h3>
            <div class="highlight"><pre><span></span>
            *Este texto estará en Cursiva*
            _Este texto tambien estará en Cursiva_
            **Este texto esta en Negrilla**
            __Este texto tambien estará en Negrilla__
            *Los **puedes** combinr*
            </pre></div>
            <h3>Listas</h3>

            <h2>desordenadas</h2>
            <div class="highlight"><pre><span></span>
            * Item 1
            * Item 2
              * Item 2a
              * Item 2b
            </pre></div>
            <h2>ordenadas</h2>
            <div class="highlight"><pre><span></span>
            1. Item 1
            2. Item 2
            3. Item 3
              * Item 3a
              * Item 3b
            </pre></div>
            <h3>Imágenes</h3>
            <div class="highlight"><pre><span></span>
            ![Logo](/images/logo.png)
            Format: ![Alt Text](url)
            </pre></div>
            <h3>Enlaces</h3>
            <div class="highlight"><pre><span></span>
            [La Magia del Saber](http://lamagiadelsaber.edu.co/)
            </pre></div>
            <h3>Cita en bloque</h3>
            <div class="highlight"><pre><span></span>
            Como Albert Einstein dijo:
            &gt; Nunca pienso en el futuro - ya llegará.
            </pre></div>
            <h3>Agregar código en una sola linea</h3>
            <div class="highlight"><pre><span></span>
            `&lt;addr&gt;`
            </pre></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>