<div class="boletines">
    <div class="offset-lg-2">
        <h3>Boletines</h3>
        <div class="row">
            <%= render "boletin" %>
            <a href="/padres/boletines#inicio" class="boletines btn btn-primary" role="button">Ver Mas</a>
        </div>
    </div>
    <div class="offset-lg-2">
        <h3>Informacion Util</h3>
        <div class="row">
            <%= render "infoutil" %>
            <a href="/padres/infoutil#inicio" class="boletines btn btn-primary" role="button">Ver Mas</a>
        </div>
    </div>
</div>