<%= render "./page/header" %>
<a name="inicio"></a>
<%= render "./page/navbar" %>
<div class="main">
    <div class="dropsreverted"></div>
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <h3>Boletines</h3>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <h3>Información útil</h3>
        </div>
    <%= render "./page/footer" %>
    </div>
</div>