<div class="offset-lg-2">
    <h3>Boletines</h3>
    <%= render "boletin" %>
    <a href="/padres/boletines#inicio" class="boletines btn btn-primary" role="button">Ver Mas</a>
    <h3>Informacion Util</h3>
    <%= render "infoutil" %>
    <a href="/padres/infoutil#inicio" class="boletines btn btn-primary" role="button">Ver Mas</a>
</div>
