<%= render "./page/header" %>
<a name="inicio"></a>
<%= render "./page/navbar" %>
<div class="main">
    <div class="dropsreverted"></div>
    <div class="row">
        <div class="boletines">
            <div class="offset-lg-2">
                <h3>Informacion Util</h3>
               <%= render "infoutil" %>
            </div>
        </div>
    <%= render "./page/footer" %>
    </div>
</div>