<a data-toggle="modal" data-target="#ModalAyuda"><h5>多Ayuda?</h5></a>
<div class="modal fade" id="ModalAyuda" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-body">
        <p><strong>Pesta単a: Configuraciones:</strong> Estas configuraciones son para hacer el album automatico desde Facebook</p>
        <p><strong>galerysource</strong> sirve para determinar el origen de las fotos, pueden ser dos: del api de Facebook, que de ahi es de donde se desprende: fbaccess_token y fbpageid, que abajo se explica y el otro es de la base de datos de fotos que se pueden almacenar con el formulario Nueva Foto.</p>
        <p><strong>fbaccess_token</strong> es el token que se obtiene de la pagina de api de Facebook </p>
        <p><strong>fbpageid</strong> es el id de una pagina de Facebook </p><hr />
        <p><strong>Pesta単a: Nueva Foto</strong> En este Formulario debes poner un titulo, decidir si quieres a単adir una URL de una foto en internet o un id de una foto de una pagina de Facebook, el id se encuentra al abrir una foto en una pagina publica, es lo que esta subrayado aqui: </p><p>https://www.facebook.com/centrolamagiadelsaber/photos/ a.1018888598130803/<strong>1018888671464129</strong>/?type=1&theater</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>