<%= render "./page/header" %>
<a name="inicio"></a>
<%= render "./page/navbar" %>
<div class="main">
    <div class="dropsreverted"></div>
        <div class="offset-lg-4">
            

    </div>
    <%= render "./page/footer" %>
</div>