<div class="col-12">
    <div class="dropsgrades"></div>
    <div class="row" id="footer">
        <div class="offset-sm-1 col-3">
            <div class="location">
                <h2>Ubicación</h2>
                <p><strong>Dirección: </strong>Calle 111 F No. 64 A – 46</p> 
                <p><strong>Teléfono: </strong>(4) 273 06 94</p>
                <p><strong>Email: </strong>contacto@lamagiadelsaber.edu.co</p>
            </div>
        </div>
        <div class="col-3">
            <div class="schedule">
                <h2>Horarios</h2>
                <h3>Lunes a Viernes</h3>
                <p><strong>Jornada de la Mañana: </strong></p>
                <p>8:00</p>
                <p><strong>Jornada de la Tarde: </strong></p>
                <p>12:00</p>
            </div>
        </div>
        <div class="col-3">
            <div class="social">
               <div class="fb-page" data-href="https://www.facebook.com/centrolamagiadelsaber/" data-width="300" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/centrolamagiadelsaber/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/centrolamagiadelsaber/">La Magia del Saber</a></blockquote></div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="dropsfooterinfo"></div>
    <div class="row" id="footerinfo">
        <div class="col align-self-start" id="info">
            ©<%= Time.current.year %> LaMagiadelSaber.edu.co
        </div>
        <div class="col align-self-end" id="creator">
            <a href="http://davidrzuluaga.com" target="_blank">davidrzuluaga.com</a>
        </div>
    </div>
</div>