<div class="grades">
    <div class="dropsreverted"></div>
    <div class="row">
        <div class="offset-sm-2 col-3">
            <div class="grade">
                <h2>Pre-Jardin</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="grade">
                <h2>Jardin</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="grade">
                <h2>Transición</h2>
            </div>
        </div>
    </div>
</div>