<div class="header">
    <div class="banner">
        <div class="logo offset-sm-2"> <!--col-sm-2-->
            <img width="160" heigth="160" src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/logomagiadelsaber.png">
        </div>
    </div>
    <div class="drops"></div>
</div>