<nav class="navbar navbar-expand-sm navbar-light bg-light" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <%= link_to "La Magia del Saber".html_safe, root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nosotros#inicio">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/padres#inicio">Información</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/galeria#inicio">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto#inicio">Contacto</a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">| <strong>Administrar</strong></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin">Modificar Pagina</a>
                <a class="dropdown-item" href="/admin/publicaciones">Publicaciones</a>
                <div class="dropdown-divider"></div>
                 <%= link_to 'Cambiar Contraseña', edit_user_registration_path, method: 'get', class:"dropdown-item" %>
                 <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: 'delete', class:"dropdown-item" %>
              </div>
            </li>
            <%end%>
          </ul>
        </div>
    </div>
</nav>