<div class="header">
    <div class="banner">
        <div class="logo offset-sm-2"> <!--col-sm-2-->
            <img width="160" heigth="160" src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/logomagiadelsaber.png">
        </div>
    </div>
    <div class="drops"></div>
</div>
<%= render "navbar" %>
<div class="grades">
    <div class="dropsreverted"></div>
    <div class="row">
        <div class="offset-sm-1 col-3">
            <div class="grade">
                <h2>Pre-Jardin</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="grade">
                <h2>Jardin</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="grade">
                <h2>Transición</h2>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="dropsrevertedgrades"></div>
    <div class="row">
    </div>
</div>
