<%= render "header" %>
<%= render "navbar" %>
<%= render "grades" %>
<div class="main">
    <div class="dropsrevertedgrades"></div>
    <div class="row">
        <div class="offset-sm-2 col-8">
            <div id="infocard" class="card">
                <a href="#"><div class="card-body">
                    <h2>Informacion para Padres y Boletines
                    <img class="mouse" src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/mouseclick.png" width="60" heigth="60"></h2>
                </div></a>
            </div>
        </div>
        <div id="main" class="mission offset-sm-2 col-6">
            <div class="card">
              <div class="card-body">
                <h2>Nuestro Centro Integral Educativo</h2>
                <p>El Centro Integral Educativo “LA MAGIA DEL SABER” es una institución de carácter privado que presta el servicio Público Educativo a la población infantil desde el nivel preescolar en los grados de pre-jardín, jardín y transición. </p>
                <button type="button" class="btn btn-primary float-right">Ver Mas</button>
              </div>
            </div>
        </div>
        <div id="main" class="col-2">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/d79e224d7085aa5b11b81bb4f0dbe5e6_200x220.png" alt="Card image cap">
            </div>
        </div>
        <div class="offset-sm-2 col-8">
            <div id="lema" class="card">
                <a href="#"><div class="card-body">
                    <h2>Virtud, Ciencia y Poder</h2>
                    <button type="button" class="btn btn-primary float-center">Nuestro Lema</button>
                </div></a>
            </div>
        </div>
        <div class="offset-sm-2 col-4">
            <div id="docente" class="card">
                  <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/d8e4c19999ccf4b7f8ca03c9d77d340d_230x167.27272727273.jpg" width="160" height="280" alt="Card image cap">
                <div class="card-body">
                    <h2>Nuestro Equipo Docente</h2>
                    <p>En la Magia del Saber contamos con un equipo docente altamente calificado.</p>
                    <button type="button" class="btn btn-primary float-right">Ver Mas</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="programas" class="card">
                <div class="card-body">
                  <h3 class="card-title">Programas</h3>
                  <p class="card-text">En la Magia del Saber nuestra prioridad es la educación de calidad.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Devocional Biblico</li>
                  <li class="list-group-item">Inglés</li>
                  <li class="list-group-item">Extraclases</li>
                  <li class="list-group-item">Modulos Educativos</li>
                  <li class="list-group-item">Salidas Pedagógicas</li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-primary float-center">Lee Mas</button>                   
                </div>
            </div>
        </div>
        <%= render "footer" %>
    </div>
</div>


