<%= render "header" %>
<a name="inicio"></a>
<%= render "navbar" %>
<div class="main">
    <div class="dropsreverted"></div>
    <div class="row">
        <div id="main" class="offset-lg-2 col-10">
            <h2>Himnos y Simbolos</h2>
        </div>
        <div class="offset-lg-2 col-lg-4">
            <div id="infocard" class="card">
                <div class="card-body">
                    <h2>Himno</h2>
                        <h3>Letras del Himno</h3>
<pre><p>Cantemos todos juntos
El himno de nuestro jardín
El lugar donde venimos
A aprender y a compartir.

Aquí se forman hombres,
Dispuestos a servir
A una patria y aun Dios querido
que nos llama a amar y a compartir .
¡Oh! que grande es la magia
La Magia del Saber
Que engrandece nuestro espíritu
Con virtud ciencia y poder.

<strong>CORO</strong>
Formando niños creativos
En este su segundo hogar
Desarrollando grandes aptitudes
Para soñar, crear e imaginar.
 
Vengan niños vengan ya
Vengan todos a jugar
Mis maestras nos invitan a ser grandes cual no más.</p></pre>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="infocard" class="card">
                <div class="card-body">
                    <h2>Simbolos</h2> 
                    <h3 class="separation">Bandera</h3>
                      <img src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/9bdb48d5de5e1740ca5d8af795f47a77_300x230.png" width="240" heigth="120" alt="Card image cap">
                    <h3 class="separation">Escudo</h3>            
                      <img src="https://s3.us-east-2.amazonaws.com/lamagiadelsaber.edu.co/logomagiadelsaber.png" width="240" heigth="240" alt="Card image cap">
                </div>
            </div>
        </div>
    <%= render "footer" %>
    </div>
</div>